@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

body
{
    margin: 0px;
    /* background-color:#f4e2d8; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.outer
{
    width: 1200px;
    background-color:#bbb;
    margin: 0 auto;
}
.htop
{
    height: 50px;
    width: 1200px;

}
.htleft
{  
    height:50px ;
    width: 100px;
    background-image:linear-gradient(to left, #03045e,#fff);
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    box-sizing: border-box;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.htcenter
{
    height:50px ;
    float: left;
    padding-top: 5px;
    font-size: 20px;
    width: 600px;
    background-color:rgb(24, 97, 233);
    text-align: center;
    font-size: 17px;
    color:#f4e2d8;
    box-sizing: border-box;


}
.htright
{   float: left;
    height:50px ;
    width: 300px;
    background-color:rgb(14, 180, 125);
    letter-spacing: 2px;    
    padding-top: 10px;
    padding-left: 50px;
    box-sizing: border-box;

}
b
{
    letter-spacing: 9px;
    margin-left: 10px;
    box-sizing: border-box;
    font-size:30px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    border-left: 1px solid black;   
}
.ht50{
    height: 50px;
}

.trackbtn1
{   
    float:left;
    height:50px;
    font-size: 12PX;
    width: 200px;
    background-color:blue
}

         /* Header */
.header
{
    display: flex;
    height: 120px;
    width: 1200px;
    background-color:#bbd1ea;
}
.hleft
{
    display: flex;
    height: 120px;
    width: 120px;
    margin-left: 50px;
    /* background-color:rgb(218, 124, 124); */
    justify-content: center;
}
.hright
{
    height: 120px;
    width: 694px;
    /* background-color: #9d7ef3; */
    float: left;
    margin-left: 282px;
}
.img
{
    height: 110px;
    width: 120px;
    padding-top: 5px;
    
}
.nimg
{
    height: 110px;
    width: 694px;
    padding-top: 5px;
    
}
.bhleft
{
    height: 70px;
    width: 600px;
    background-color: aqua;
    float: right;
    /* margin-right: 20px; */
    margin: 0 214px;
}
.bleft
{
    height: 70px;
    width: 290px;
    background-color: bisque;
    float: left;
}
.bright
{
    height: 70px;
    width: 290px;
    background-color:brown;
    float: right;
}
        /* Menubar */
.menubar
{
    height: 40px;
    width: 1200px;
   background-image: linear-gradient(to right,#f4afe9,#d7ebeb,#9d7ef3);
    display: flex; 
    text-align: center;
    
    justify-content:space-around;
}

.mback
{
    height: 40px;
    width: 1200px;
    background-size: 300px;

}
.menus
{
    color: black;
    text-decoration: none;
    float: left;
   
    font-weight: bolder;
    height: 30px;
   
    width: 120px;
    padding-top: 10px;


}
.menus:hover{
    border-radius: 15px;
    background-image: linear-gradient( to left,#0e0725,#5c03bc,#e536ab,#f4e5f0);
    color:white;
    font-weight: bolder;
    text-align: center;
}
        /* Slider Area */
.slider
{
    min-height: 432px;
    width: 1200px;
    background-color: rgb(11, 240, 240);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;

}
.slides
{
    width: 500%;
    height: 500px;
    display:flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition:2s;
}
.slide img{
    width:1200px;
    height: 500px;
    
}

    /* Css for manul slide navigation */
.navigation-manual{
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background:#40d3dc ;
}
#radio1:checked~.first{
    margin-left: 0px;
}
#radio2:checked~.first{
    margin-left: -20%;
}
#radio3:checked~.first{
    margin-left: -40%;
}
#radio4:checked~.first{
    margin-left: -60%;
}
#radio5:checked~.first{
    margin-left: -80%;
}
#radio6:checked~.first{
    margin-left: -100%;
}
#radio7:checked~.first{
    margin-left: -120%;
}

     /* Css for automatic navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked~.navigation-auto.auto-btn1{
    background: #40d3dc;
}

#radio2:checked~.navigation-auto.auto-btn2{
    background: #40d3dc;
}

#radio3:checked~.navigation-auto.auto-btn3{
    background: #40d3dc;
}

#radio4:checked~.navigation-auto.auto-btn4{
    background: #40d3dc;
}
#radio5:checked~.navigation-auto.auto-btn5{
    background: #40d3dc;
}
#radio6:checked~.navigation-auto.auto-btn6{
    background: #40d3dc;
}
#radio7:checked~.navigation-auto.auto-btn7{
    background: #40d3dc;
}


        /* Content area */
.contentarea ,.cnews, .cimgs,.cvideo
{
    min-height: 255px;
    width: 1100px;
    margin: 0 50;
    background-color: blanchedalmond;
    /* display: inline-block; */
    justify-content: space-around;
    float:left;

}
rbox1 
{
    line-height: 1.1;
    font-family: Roboto;
    color:white;
    float: left;
    text-align: center;
    padding: 33px 102px;
}
rbox1con
{
    font-size:medium;
    text-align: center;
    /* padding:10 10 ; */
    display: inline-flex;
    position: relative;
    left: 1px;
    bottom: 2px;
}
.h3
{
    text-align: center;
    justify-self: center;
}
.cnews
{
    height: 255px;
    width: 339px;
    margin: 10px 10px;
    border: 2px solid black;
    overflow: hidden;
    background-color: deepskyblue;
    list-style: none;
   
}
.cheading
{
    height: 50px;
    width: 339;
    background-color: aqua;
    text-align: center;
    font-size: 25px;
    font-family: 'Caprasimo', cursive;
    padding-top: 8px;
    box-sizing: border-box;
    text-shadow: 2px 5px 8px rgb(64, 66, 62);
    border: 2px solid black;
}
nheading
{
    font-size: large;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.cncont
{
    /* position: absolute;
    left:2px; */
    background-color: antiquewhite;
    color: indigo;
    overflow: hidden;
}
.cimgs
{
    height: 255px;
    width: 339px;
    margin: 10px 6px;
    border: 2px solid black;
    overflow: hidden;
    background-color: deepskyblue;
}
/* Slider2 starts here */
.slider2{

    width: 339px;
    height: 205px;
    border-radius: 10px;
    background-color: rgb(11, 240, 240);
    overflow: hidden;
    margin: 0 auto;
}
.slides2{
    width: 500%;
    height: 205px;
    display:flex;
}
.slides2 input{
    display: none;
}
.slide2{
    width: 20%;
    transition:2s;
}
.slide2 img{
    width:339px;
    height: 205px;
}
  /* Css for manul slide navigation */
  .navigation-manual1{
    position: absolute;
    width: 339px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btns{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btns:not(:last-child){
    margin-right: 18px;
}
.manual-btns:hover{
    background:#40d3dc ;
}
#radios1:checked~.first{
    margin-left: 0px;
}
#radios2:checked~.first{
    margin-left: -20%;
}
#radios3:checked~.first{
    margin-left: -40%;
}
#radios4:checked~.first{
    margin-left: -60%;
}

 /* Css for automatic navigation */
 .navigation-auto1{
    position: absolute;
    display: flex;
    width: 339px;
    justify-content: center;
    margin-top: -40px;
}
.navigation-auto1 div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto1 div:not(:last-child){
    margin-right: -46px;
}

#radios1:checked~.navigation-auto1.auto-btns1{
    background: #40d3dc;
}

#radios2:checked~.navigation-auto1.auto-btns2{
    background: #40d3dc;
}

#radios3:checked~.navigation-auto1.auto-btns3{
    background: #40d3dc;
}

#radios4:checked~.navigation-auto1.auto-btns4{
    background: #40d3dc;
}












/* Slider2 ends here */

.cvideo
{
    height: 255px;
    width: 339px;
    margin: 10px 8px;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
    left: 768px;
    bottom: 277px;
    background-color: deepskyblue;
}


.rbtn
{
    height: 27px;
    width: 113px;
    border-radius: 10px;
    /* background-color: brown; */
    background-image:linear-gradient(to left,#1a2766,#ae1b1e,#fc9f32);
    color:#fff;
    font-weight: bolder;
    padding-top: 10px;
    text-align: center;
    margin: 5px 10px;
    position: relative;
    right: 309px;
    cursor: pointer;
    float: left;
}
        /* Row */
.row
{
    height: 400px;
    width: 1100px;
    background-color: darkcyan;
    margin: 60px 0;
    position: relative;
    left: 48px;
    bottom: 235px;
    display:flex;
}
.rleft
{
    height: 332px;
    width: 294px;
    background-color: deeppink;
    flex-basis: 31%;
    color:aliceblue;
    margin: 15px 9px;
    padding: 5px;
    box-sizing: border-box;
    border: 3px dotted #444;
    overflow: hidden;

      
}
.rright
{
    
    flex-basis: 50%;
    display: grid;
    row-gap: 20px;
    column-gap: 15px;
    /* grid-template-columns: repeat(2,150px); */
    grid-template-columns: 343px 343px;
    /* grid-auto-rows: 145; */
    grid-template-rows: 177px 177px;
    margin: 14px 16px;
}
.r4
{
    background-color: rgba(235, 19, 224, 0.753);
   color:aliceblue;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   background-size: cover;
   background-position: top;
   background-color: #555;
   background-blend-mode: hard-light;
   transition: all 1s ease-in-out;
   border: 1px solid black;

}
.r4:hover
{
    background-position:center;
    background-color: #999;
    text-shadow: #f4e2d8;
}
/* #box1
{
    grid-column: 2 span;
}
#box1
{
    grid-column: 2 span;
} */
.po
{
    position: relative;
    bottom:-356px ;
    left: -233px;
}
.aboutsec
{
    min-height: 450px;
    width: 1200px;
    background-color:blue;
    /* clear: both; */
    /* position: relative; */
    /* top: 166px; */
    margin-top: 165px;
    float: left;
}
/* Network Heading Content Heading */
.heading{
    width: 300px;
    color: black;
    font-size: 35px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'Roboto';

}
/* Network Paragraph */
.aboutsec-network
{
    
    width: 1200px;
    background-color:aliceblue;
    clear: both;
    float: left;
}


.paratext{
    width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: justify;
    font-size: 18px;
    font-weight:bold;
    color: white;
    font-family: 'roboto';
}
.footer
{       height: 500px;
    /* margin: 1764px auto; */
    width: 1200px;
    /* clear: both; */
    /* background-color: saddlebrown; */
    background-size: cover;
    background-position: top;
    color: aliceblue;
    background-color: #555;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    clear: both;
    float: none;
    margin: 0 auto;
    /* top: 1022px; */
    position: relative;
    bottom:0px;

    
    /* margin: 170 auto; */
    /* text-align: center; */
    justify-content: center;
    /* margin: -244px 1013px;*/
}
.footer:hover
{
    background-color: #bbb;
    background-position: center;
    opacity: 100px;
}
.fcontainer
{
    height: 400px;
    width: 1100px;
    /* margin: 20px auto; */
   /* background-color: cornsilk; */
           /* display: flex; */


}
.fcontact
{
    height: 80px;
    width: 1095px;
    /* background-color: cadetblue; */
    border: 2px dashed cyan;
    border-radius: 10px;

    
}
.fleft
{
    height:300px ;
    width:300px;
    margin:67px 1px;
    float: left;
    flex-basis: 30%;
    border: 3px dotted cyan;
    
    background: transparent;
    /* background-color: darkturquoise; */
}
.fright
{
    height: 300px;
    width: 600px;
    float: right;
    /* background-color:darkslateblue; */
    align-items: center;
    margin: 68px 4px;

}
u
{
    font-size: 47px;
    letter-spacing: 5px;
    text-align: center;
    cursor: pointer;
}
.frcat
{   
    padding: 5px 30px;
    box-sizing: border-box;
    height: 300px;
    width: 295px;
    color:white;
    float: left;
    border: 2px dotted cyan;
    /* background-color: antiquewhite; */
}
.frcont
{   
    padding: 2px 10px;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
    float: right;
    color:white;
    border: 2px dotted cyan;
    /* background-color:chartreuse; */
}
.pmenus
{   
    font-size: 25px;
    height:35px;
    width:200px ;
    font-weight: bolder;
    border-bottom: 2px solid cyan;
    cursor: pointer;
    color: #fc9f32;
}
h4
{
    font-size: 23px;
    font-weight: bolder;
}
red
{
    color: red;
    font-weight: bolder;
}
.cbtn
{
    height: -2px;
    width: 120px;
    border-radius: 5px;
    background-color: chartreuse;
    color: floralwhite;
    position: relative;
    right: -950px;
    top: 30px;
    font-size: 20;
    text-align: center;
}

        /* Services Page Css */
        .sfmargin
        {
            clear:both;
            margin:none;
        }
        .scontainer
        {
            min-height: 700px;
            width: 1200px;
            /* margin: 0 auto; */
            /* background-color: cornflowerblue; */
            background-color: white;
            display: flex;
            align-items: center;
            justify-content:space-around;
        }
        .scontainer-destination
        {
            min-height: 700px;
            width: 1200px;
            /* margin: 0 auto; */
            /* background-color: cornflowerblue; */
            background-color: white;
            padding: 10px 0 10px 30px;
            align-items: center;
            justify-content:space-around;
        }
        .trow{
            width: 1200px;
            text-align: center;
            margin-top: 50px;
      

        }
        .th1{
            height: 30px;
            width: 582px;
            background-color: black;
            float: left;
            color: white;
            font-weight: bold;
            padding-top: 6px;
            box-sizing: border-box;
            border: 1px solid black;
            border-bottom: none;
        }
        .th2{
            height: 30px;
            width: 582px;
            color: white;
            font-weight: bold;
            background-color: black;
            font-family: roboto;
            float: left;
            padding-top: 6px;
            box-sizing: border-box;
            border: 1px solid black;
            border-bottom: none;
        }
        .tleft{
            height: 30px;
            width: 582px;
            background-color: aliceblue;
            float: left;
            font-family: roboto; 
            padding-top: 6px; 
            box-sizing: border-box;
            border: 1px solid black;
            
        }
        
        .tright{
            height: 30px;
            width: 582px;
            background-color:aliceblue;
            float: left;
            font-family: roboto;
            padding-top: 6px;
            box-sizing: border-box;
            border: 1px solid black;
            
        }
        .sleft
        {
            min-height:500px ;
            width: 700px;
            /* background-color: cadetblue; */
            float: left;
            margin-left: 105px;
        }
        .sright
        {
            min-height: 302px;
            width: 450px;
            /* background-color: rgb(233, 28, 199); */
            float: right;
            margin-left: 20px;
            margin-top: 0px;
            margin-bottom: 197px;
        }
        p
        {
            text-align: justify;
        }
        h5
        {
            font-weight: bolder;
            font-size:larger;
        }
        .scon
        {
            height: 150px;
            width: 650px;
            background-color: blueviolet;
        }
            /* Profile Css */
        .pcont
        {
            min-height:600px;
            width: 1200px;
            margin: 0 auto ;
            /* background-color: darkblue; */
            display: table-cell;
            color: black;
        }
        .tcont
        {
            min-height:500px;
            width: 1000px;
            margin: 40px 101px;
            color: black;
            /* padding-top:20px ; */
            /* padding-bottom: 30px; */
            padding: 0 0 0 20px;
            box-sizing: border-box;
            /* background-color: rgb(14, 221, 248); */
        }
        h2{
            font-size: 50px;
            padding: 16px;
        }
        .table
        {
            min-height:500px ;
            width: 950px;
            color: black;
            /* background-color: aquamarine; */
        }
        p{
            color:white;
        }
        tr
        {
            color:black;
        }
        .black{
            color:black;
        }
/* map code start */

/* main container */
.aboutsec-map{
    background-color: white;
}
.Main-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    flex-wrap: wrap;
}

/* selector */
#selecting{
    width: 100%;
    display: flex;
    justify-content: end;
    height: 25px;
}

/* image */

.Images-container{
    height: 95%;
    width: 100%;
}
.Images-container img{
    height: 500px;
    width: 500px;
    margin: 0 auto;
    display: flex;
}
/* Contact us page css starts here */
.contactmain{
    height: auto;
    width: 1200px;
    background-color: #fff;
    float: left;
}
.contactusouter{

    height: 284px;
    width: 1110px;
    /* background-color: #999; */
    margin: 32px 45px;
    
}
.contactbox{

    height: 276px;
    width: 344px;
    background-image: linear-gradient(to right,aliceblue,lightblue,aliceblue);
    margin-left: 18px;
    float: left;
    border-radius: 12px;
    border:2px solid black;
    overflow: hidden;
}
.contacthead{
    height: 76px;
    width: 352px;
    /* background-color: aqua; */
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    font-family: roboto;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.caddress{
    height: 99px;
    width: 352px;
    /* background-color: #d7ebeb; */
    margin-top: 3px;
    line-height: 20px;
    font-size: 15px;
    font-family: roboto;

}
cs{
    font-weight: 600;
}
.caddright{
    height:99;
    width: 290;
    /* background-color:chartreuse; */
    float:left;
    font-size: 16px;
    text-align: justify;
    padding-top: 3px;
    padding-left: 5px;
    box-sizing: border-box;
}
.ctelephone{
    height: 53px;
    width: 352px;
    margin-top: 3px;
    /* background-color: #f4afe9; */
    color:#cf8b24;
}
.ctellright{
    height:53;
    width: 310;
    /* background-color:chartreuse; */
    float:left;
    font-size: 16px;
    text-align: justify;
    padding-top: 9px;
    padding-left: 8px;
    box-sizing: border-box;
}
.cemail{
    height: 36px;
    width: 352px;
    /* background-color: #fc9f32; */
    margin-top: 3px;
    color:#242acf;
}
.ceright{
    height:36;
    width: 310;
    /* background-color:chartreuse; */
    float:left;
    font-size: 16px;
    text-align: justify;
    padding-top: 5px;
    padding-left: 8px;
    box-sizing: border-box;
}
.boota
{
    color: #1a2766;
    font-size: 29px;
    height: 99;
    width: 38;
    float: left;
}
.boott
{
    /* background-color: #40d3dc; */
    color: #1a2766;
    font-size: 29px;
    height: 53;
    width: 38;
    float: left;
}
.boote
{
    /* background-color: #40d3dc; */
    color: #1a2766;
    font-size: 29px;
    height: 36;
    width: 38;
    float: left;
}
.pa
{
    padding:31px 7px;
    box-sizing: border-box;
}
.pt
{
    padding:6px 7px;
    box-sizing: border-box;
}
.pe
{
    padding:0px 7px;
    box-sizing: border-box;
}
    a{
    color:#1ba570;
    text-decoration: none;
    text-decoration-line: none;
}
