body
{
    margin: 0px;
    background-color:#f4e2d8;
}
.outer
{
    width: 1300px;
    background-color:#bbb;
    margin: 0 auto;
}
.htop
{
    height: 50px;
    width: 1300px;
    margin: 0 auto;
}
.htleft
{  
    height:50px ;
    width: 100px;
    background-color:red;
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    box-sizing: border-box;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.htcenter
{
    height:50px ;
    float: left;
    padding-top: 5px;
    font-size: 20px;
    width: 700px;
    background-color:rgb(24, 97, 233);
    text-align: center;
    font-size: 17px;
    color:#f4e2d8;
    box-sizing: border-box;


}
.htright
{   float: left;
    height:50px ;
    width: 300px;
    background-color:rgb(14, 180, 125);
    letter-spacing: 2px;    
    padding-top: 10px;
    padding-left: 50px;
    box-sizing: border-box;

}
b
{
    letter-spacing: 9px;
    margin-left: 10px;
    box-sizing: border-box;
    font-size:30px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    border-left: 1px solid black;   
}
.ht50{
    height: 50px;
}

.trackbtn1
{   
    float:right;
    height:50px;
    font-size: 12PX;
    width: 200px;
    background-color:red;
}

        /* Header */
.header
{

    height: 150px;
    width: 1300px;
    background-color:gray;
}
.logo{
    
    height: 100px;
    width: 200px;
    float: left;
    
}
.hleft
{
    display: flex;
    height: 70px;
    width: 120px;
    margin-left: 50px;
    background-color:rgb(218, 124, 124);
    justify-content: center;
}
.img
{
    height: 50px;
    width: 80px;
    padding-top: 10px;
    
}
.bhleft
{
    height: 70px;
    width: 600px;
    background-color: aqua;
    float: right;
    /* margin-right: 20px; */
    margin: 0 214px;
}
.bleft
{
    height: 70px;
    width: 290px;
    background-color: bisque;
    float: left;
}
.bright
{
    height: 70px;
    width: 290px;
    background-color:brown;
    float: right;
}
        /* Menubar */
.menubar
{
    height: 40px;
    width: 1200px;
    background-color: chartreuse;
    display: flex; 
    justify-content:space-around;
}
.mback
{
    height: 40px;
    width: 1200px;
    background-size: 300px;

}
.menus
{
    color: aliceblue;
    text-decoration: none;
    float: left;
    
    height: 30px;
    width: 120px;
    padding-top: 10px;
    background-color: transparent;

}
        /* Slider Area */
.slider
{
    min-height: 432px;
    width: 1200px;
    background-color: azure;
}
        /* Content area */
.contentarea ,.cnews, .cimgs,.cvideo
{
    min-height: 255px;
    width: 1100px;
    margin: 0 50;
    background-color: blanchedalmond;
    display: inline-block;
    justify-content: space-around;

}

.h3
{
    text-align: center;
    justify-self: center;
}
.cnews
{
    height: 255px;
    width: 339px;
    margin: 10px 10px;
    border: 2px solid black;
    background-color: deepskyblue;
}
.cimgs
{
    height: 255px;
    width: 339px;
    margin: 10px 6px;
    border: 2px solid black;
    background-color: deepskyblue;
}
.cvideo
{
    height: 255px;
    width: 339px;
    margin: 10px 8px;
    border: 2px solid black;
    background-color: deepskyblue;
}
.rbtn
{
    height: 27px;
    width: 135px;
    border-radius: 10px;
    background-color: brown;
    padding-top: 10px;
    text-align: center;
    margin: -4px 10px;
    cursor: pointer;
}
        /* Row */
.row
{
    height: 400px;
    width: 1100px;
    background-color: darkcyan;
    margin: 60px 0;
    display:flex;
}
.rleft
{
    height: 332px;
    width: 294px;
    background-color: deeppink;
    flex-basis: 31%;
    color:aliceblue;
    margin: 15px 9px;
    padding: 5px;
    box-sizing: border-box;
    border: 3px dotted #444;
}
.rright
{
    
    flex-basis: 50%;
    display: grid;
    row-gap: 20px;
    column-gap: 15px;
    /* grid-template-columns: repeat(2,150px); */
    grid-template-columns: 343px 343px;
    /* grid-auto-rows: 145; */
    grid-template-rows: 177px 177px;
    margin: 14px 16px;
}
.r4
{
    background-color: rgba(235, 19, 224, 0.753);
   color:aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;

}
/* #box1
{
    grid-column: 2 span;
}
#box1
{
    grid-column: 2 span;
} */
.po
{
    position: relative;
    bottom:-356px ;
    left: -253px;
}
.aboutsec
{
    min-height: 450px;
    width: 1200px;
    background-color: chartreuse;
    clear: both;
    margin: 0px 0px;
    float: left;
}
.footer
{       height: 500px;
    /* margin: 1764px auto; */
    width: 1200px;
    /* clear: both; */
    /* background-color: saddlebrown; */
    background-size: cover;
    background-position: top;
    color: aliceblue;
    background-color: #555;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    clear: both;
    float: none;
    margin: 0 auto;
    /* text-align: center; */
    justify-content: center;
    /* margin: -244px 1013px;*/
}
.footer:hover
{
    background-color: #bbb;
    background-position: center;
}
.fcontainer
{
    height: 400px;
    width: 1100px;
    /* margin: 20px auto; */
   /* background-color: cornsilk; */
           /* display: flex; */


}
.fcontact
{
    height: 80px;
    width: 1095px;
    /* background-color: cadetblue; */
    border: 2px dashed cyan;
    border-radius: 10px;

    
}
.fleft
{
    height:300px ;
    width:300px;
    margin:67px 1px;
    float: left;
    flex-basis: 30%;
    border: 3px dotted cyan;
    
    background: transparent;
    /* background-color: darkturquoise; */
}
.fright
{
    height: 300px;
    width: 600px;
    float: right;
    /* background-color:darkslateblue; */
    align-items: center;
    margin: 68px 4px;

}
u
{
    font-size: 47px;
    letter-spacing: 5px;
    text-align: center;
    cursor: pointer;
}
.frcat
{   
    padding: 5px 30px;
    box-sizing: border-box;
    height: 300px;
    width: 295px;
    color:white;
    float: left;
    border: 2px dotted cyan;
    /* background-color: antiquewhite; */
}
.frcont
{   
    padding: 2px 10px;
    box-sizing: border-box;
    height: 300px;
    width: 305px;
    float: right;
    color:white;
    border: 2px dotted cyan;
    /* background-color:chartreuse; */
}
.pmenus
{   
    font-size: 25px;
    height:35px;
    width:200px ;
    font-weight: bolder;
    border-bottom: 2px solid cyan;
    cursor: pointer;
}
h4
{
    font-size: 23px;
    font-weight: bolder;
}
red
{
    color: red;
    font-weight: bolder;
}
.cbtn
{
    height: -2px;
    width: 120px;
    border-radius: 5px;
    background-color: chartreuse;
    position: relative;
    right: -950px;
    top: 30px;
    font-size: 20;
    text-align: center;
}

        /* Services Page Css */
        .sfmargin
        {
            clear:both;
            margin:none;
        }
        .scontainer
        {
            min-height: 700px;
            width: 1200px;
            /* margin: 0 auto; */
            /* background-color: cornflowerblue; */
            background-color: white;
            display: flex;
            align-items: center;
            justify-content:space-around;
        }
        .sleft
        {
            min-height:500px ;
            width: 700px;
            /* background-color: cadetblue; */
            float: left;
            margin-left: 105px;
        }
        .sright
        {
            min-height: 302px;
            width: 450px;
            /* background-color: rgb(233, 28, 199); */
            float: right;
            margin-left: 20px;
            margin-top: 0px;
            margin-bottom: 197px;
        }
        p
        {
            text-align: justify;
        }
        h5
        {
            font-weight: bolder;
            font-size:larger;
        }
        .scon
        {
            height: 150px;
            width: 650px;
            background-color: blueviolet;
        }
            /* Profile Css */
        .pcont
        {
            min-height:600px;
            width: 1200px;
            margin: 0 auto ;
            /* background-color: darkblue; */
            display: table-cell;
            color: aliceblue;
        }
        .tcont
        {
            min-height:500px;
            width: 1000px;
            margin: 40px 101px;
            color: aliceblue;
            /* padding-top:20px ; */
            /* padding-bottom: 30px; */
            padding: 0 0 0 20px;
            box-sizing: border-box;
            /* background-color: rgb(14, 221, 248); */
        }
        h2{
            font-size: 50px;
            padding: 16px;
        }
        .table
        {
            min-height:500px ;
            width: 950px;
            color: aliceblue;
            /* background-color: aquamarine; */
        }
        p{
            color:aliceblue;
        }
        tr
        {
            color:aliceblue;
        }