.header {
  width: 1500px;
  height: 50px;
  background-color: rgb(255, 196, 0);
  margin: 0 auto;
}
.htext {
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px 0 0 150px;
  font-size: larger;
}
.main-1 {
  width: 1500px;
  height: 600px;
  background-color: red;
}
.nav-text {
}
